@import "variables";

:host {
  display: block;
}

.file-card {
  gap: 8px;
  padding: 10px;
  background-color: $color-base-100;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid $color-secondary-100;

  .icon {
    aspect-ratio: 1/1;
    margin-right: 5px;
    font-size: $text-sm;
    border-radius: 50%;
    justify-content: center;
    background-color: $color-secondary-100;
    color: $color-secondary-700;
    width: 30px;
  }

  .content {
    flex: 1;
    overflow: hidden;

    h4 {
      font-family: $font-family-tertiary;
      font-size: $text-base;
      font-weight: 500;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      color: $color-secondary-400;
      font-family: $font-family-tertiary;
      font-size: calc($text-sm - 1px);
      margin-top: 3px;
    }
  }
}
