@import "variables";

:host {
  display: block;
  display: grid;
}

.message-card {
  padding: 10px;
  width: max-content;
  max-width: 70%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background-color: $color-secondary-100;
  color: $color-secondary-700;
  position: relative;

  &.first {
    
    &::before {
      content: "";
      position: absolute;
      background-color: $color-secondary-100;
      left: 0;
      border-radius: 3px 0 0 0;
      top: 0;
      transform: translateX(-60%);
      clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 100% 100%, 0 25%, 0% 10%);
      width: 17px;
      height: 20px;
    }
  }


  * {
    font-family: $font-family-tertiary;
    font-size: $text-base;
  }

  h4 {
    font-weight: 700;
    font-size: calc($text-sm - 1px);
    transform: translateY(-2px);
  }

  &.current-user-message {
    background-color: $color-primary-900;
    color: $color-base-100;
    justify-self: flex-end;

    &::before {
      background-color: $color-primary-900;
      right: 0;
      transform: scaleX(-1) translateX(-60%);
      left: initial;
    }
  }

  .content {
    gap: 12px;
    align-items: flex-end;

    span {
      font-size: calc($text-sm - 1px);
      opacity: 0.9;
      transform: translateY(5px);
    }
  }
}
