@import "variables";

:host {
  height: 100%;
  display: flex;
}

.icon-sidebar {
  height: 100%;
}

.content {
  width: 100%;
}

@media (width <= 540px) {
  :host {
    flex-direction: column-reverse;

    .icon-sidebar {
      height: initial;
    }

    .content {
      height: 100%;
    }
  }
}
