<app-auth-template>
    <ng-container title>
        <app-title-1>Entre com a sua conta</app-title-1>
    </ng-container>
    <ng-container description>
        <app-paragraph>Insira o e-mail e a senha que você definiu ao criar a sua conta. Não tem conta? <app-highlight-link routerLinkValue="../cadastro">Clique aqui</app-highlight-link> para
            criar uma.</app-paragraph>
    </ng-container>
    <ng-container form>
        <form [formGroup]="form" class="flex-column">
            <app-main-input formControlName="email" placeholder="Email ou telefone" [control]="form.controls.email"></app-main-input>
            <app-main-input formControlName="password" type="password" placeholder="Senha" [control]="form.controls.password"></app-main-input>
        </form>
    </ng-container>
    <ng-container response>
        
    </ng-container>
    <ng-container buttons>
        <app-button-main-action (onCLick)="onSubmit()" [fullWidth]="true">LOGIN</app-button-main-action>
    </ng-container>
</app-auth-template>