@import "variables";

:host {
  display: block;
}

.sidebar-template {
  height: calc(100vh - 93px);

  .aside-container {
    height: 100%;
    padding: 10px;
    width: 100vw;
    max-width: 290px;
    border-right: 1px solid $color-base-200;

    .aside-header {
      gap: 15px;
      justify-content: space-between;

      .search-input {
        width: 100%;
      }
    }
  }

  .content {
    gap: 15px;
    margin-top: 20px;
  }
}
