@import 'variables';

:host {
  display: block;
}

section {
  background-color: $color-base-200;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .card-container {
    max-width: 375px;
    
    .card-head {
      padding: 10px;
    }

    .title {
      margin-bottom: 10px;
    }

    .form {
      margin: 25px 0;
    }

    .box-buttons {
      margin-top: 15px;
    }

    .content {
      padding: 25px;
    }
  }
}