@import "variables";

:host {
  display: block;
}

button {
  border-radius: 10px;
  background-color: $color-primary-900;
  padding: 5px;
  border: 0;
  color: $color-base-100;
  font-size: $text-lg;
  height: 40px;
  justify-content: center;
  aspect-ratio: 1/1;

  &:hover {
    cursor: pointer;
  }
}
