@import "variables";

:host {
  display: block;
}

a {
  padding: 13px 11px 11px;
  display: block;
  border-radius: 5px;
  font-family: $font-family-tertiary;
  border: 1px solid $color-base-400;
  color: $color-base-100;
  font-size: $text-base;
  transition: 200ms ease-out;

  &:hover {
    cursor: pointer;
    background-color: transparentize($color: $color-secondary-900, $amount: 0.6);
  }

  & * {
    font-family: $font-family-tertiary;
  }

  h3 {
    font-size: $text-base;
    margin-bottom: 4px;
    font-weight: 700;
    text-overflow: ellipsis;
  }

  p {
    font-size: $text-sm;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: transparentize($color: $color-base-100, $amount: 0.4);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  div {
    margin-top: 4px;

    span {
      font-size: $text-sm;
    }
  }
}