<div class="content">
   <form class="flex-column" [formGroup]="form">
      <div class="box-project-image flex align">
         <app-profile-image-input [currentFile]="profileImage" (addFile)="profileImage = $event" (removeFile)="profileImage = undefined" class="project-image" idValue="project-image"></app-profile-image-input>
         <div class="flex-column image-description">
            <app-paragraph>Adicione uma imagem ao projeto</app-paragraph>
            <app-paragraph>(opcional)</app-paragraph>
         </div>
      </div>
      <app-main-input formControlName="title" [control]="form.controls.title" placeholder="Título"></app-main-input>
      <app-textarea formControlName="description" [control]="form.controls.description" placeholder="Descrição" [optional]="true"></app-textarea>
   </form>
   <div class="box-buttons flex align">
      <app-step-button (onClick)="onSubmit()">Avançar</app-step-button>
   </div>
</div>