@import 'variables';

:host {
  display: block;
}

form {
  padding: 15px;
  background-color: #f3f3f3;
  border: 2px solid #e0e0e0;

  .paragraph {
    margin-bottom: 10px;
  }

  div {
    gap: 15px;

    .email-input {
      flex-grow: 1;
    }
  }
}

.content {
  padding: 25px;

  .email-list {
    li {
      padding: 13px;
      color: $color-base-600;
      font-family: $font-family-tertiary;
      font-size: $text-base;
      border-bottom: 1px solid $color-base-300;

      p {
        flex-grow: 1;
      }

      span {
        margin-right: 10px;
      }
    }
  }

  .box-buttons {
    justify-content: flex-end;
    margin-top: 40px;
    gap: 20px;
  }
}

@media (width <= 540px) {
  .content {
    padding-bottom: 95px;

    .box-buttons {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100vw;
      padding: 25px;
    }
  }
}