<label
  class="flex align"
  title="Selecionar arquivo"
  [class.valid]="!!currentFile"
  [style.minHeight.px]="minHeight"
>
  <div *ngIf="!currentFile" class="content-label">
    <input (change)="onFileDropped($event)" [id]="idValue" type="file" />
  </div>
  <div *ngIf="currentFile" class="content-label with-file">
    <img [src]="imageUrl" alt="Imagem do projeto">
    <button type="button" (click)="onRemoveFile($event)" title="Remover imagem" class="remove-image flex align">
      <div class="flex align">
        <fa-icon icon="xmark"></fa-icon>
      </div>
    </button>
  </div>
</label>