<aside *appHideItemByRoute>
   <div class="aside-header">
      <div class="content flex align">
         <h1>{{title}}</h1>
         <div class="add-button">
            <ng-content select="[addButton]"></ng-content>
         </div>
         <button>
            <fa-icon icon="chevron-left"></fa-icon>
         </button>
      </div>
      <div class="search-input">
         <ng-content select="[searchInput]"></ng-content>
      </div>
   </div>
   <div class="sidebar-body">
      <ng-content select="[content]"></ng-content>
   </div>
</aside>