<aside class="flex-column">
   <nav>
      <ul class="flex-column align">
         <li>
            <a routerLink="projetos" routerLinkActive="active">
               <fa-icon [icon]="['far', 'chart-bar']"></fa-icon>
            </a>
         </li>
         <li>
            <a routerLink="tarefas" routerLinkActive="active">
               <fa-icon icon="list-check"></fa-icon>
            </a>
         </li>
         <li>
            <a routerLink="notificacoes" routerLinkActive="active">
               <fa-icon [icon]="['far', 'bell']"></fa-icon>
            </a>
         </li>
      </ul>
   </nav>
   <div class="config">
      <a routerLinkActive="active">
         <fa-icon icon="gear"></fa-icon>
      </a>
   </div>
</aside>