@import 'variables';

:host {
  display: block;
}

img, .fall-back {
  background-color: $color-base-100;
  aspect-ratio: 1/1;
  border-radius: 5px;
  width: 35px;

  &.smaller {
    width: 28px;
  }
}

div.fall-back {
  animation: wait 700ms alternate infinite;

  &.smaller {
    width: 28px;
  }
}

@keyframes wait{
  from {
    background-color: transparentize($color: $color-base-100, $amount: 0.5);
  }
  
  to {
    background-color: transparentize($color: $color-base-100, $amount: 0.7);
  }
}