@import 'variables';

.loader {
   border: 4px solid $color-base-300;
   border-left-color: transparent;
   border-radius: 50%;
   width: 36px;
   height: 36px;
   animation: spin89345 0.35s linear infinite;
   margin: 0px auto;
}

.loader-to-button{
   width: 1.4em;
   height: 1.4em;
}

@keyframes spin89345 {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}