@import "variables";

:host {
  display: block;
}

ul {
  background-color: $color-secondary-900;

  li {
    width: 100%;

    a {
      gap: 10px;
      display: flex;
      width: 100%;
      transition: 0.2s;
      padding: 10px 15px;
      font-size: $text-sm;
      justify-content: center;
      letter-spacing: 0.02rem;
      font-family: $font-family-tertiary;
      color: $color-base-100;
      min-width: max-content;

      &:hover {
        cursor: pointer;
        filter: brightness(0.97);
      }

      &.active {
        background-color: $color-primary-100;
        color: $color-primary-900;
        border-top: 2px solid $color-primary-900;
        font-weight: 600;
      }
    }
  }
}
